<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel='icon' href='/assets/favicon.ico' type='image/x-icon'/ >
    <!-- CSS Reset -->
    <link rel="stylesheet" href="/css/reset.css">

    <!-- Full Calendar Style -->
    <link rel="stylesheet" href="/css/fullcal-main.css">

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="/css/materialize.css">

    <!-- Materialize icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons&family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">

    <!-- Custom styling -->
    <link rel="stylesheet" href="/css/main.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    
    <!-- Materialize JavaScript -->
    <script src="/js/materialize.js"></script>

    <title>Pocket Butler</title>
</head>
<body>
    {{{body}}}
</body>
</html>