body {
    background-color: whitesmoke;
}

.dashboard {
    background-color: salmon;
}

header {
    background-color: maroon;
}

.settings-icon {
    color: snow;
}

.constrain-to-parent {
    max-height: 100%;
    max-width: 100%;
}